<script type="text/template" id="tpl-layout">
	<div class="container" id="container">
		<div class="side"></div>
	    <div class="main">
	    	<div class="main-header">
	            <h4 class="hidden">
	                <span class="glyphicon glyphicon-file"></span> 内容管理 <small>文章、分类、页面、文件、标签管理</small>
	            </h4>
	            <div class="block-margin clearfix">
	                <ul class="nav nav-pills pull-left J-nav-child"></ul>
	                <div class="pull-right" style="width:25%;">
	                    <div class="input-group">
	                      <input type="text" class="form-control">
	                      <span class="input-group-btn">
	                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
	                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-filter"></span></button>
	                      </span>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="main-body">
	        </div>
	    </div>
	    <aside class="view hidden">
	    </aside>
	</div>
</script>
<script type="text/template" id="tpl-login">
	<div class="signin-container">
		<div class="logo">Glosea <small>代码如诗 — 科技让生活更美好！</small></div>
	    <div class="copyright">Copyright &copy; 2014 Power by Glosea.org</div>
		<div class="panel panel-default center-block">
	      <div class="panel-heading"><h4>Glosea Administrator <small>管理员登录</small></h4></div>
	      <div class="panel-body"></div>
	      <div class="panel-body">
	        <form class="form-horizontal" role="form">
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
	            <div class="col-sm-9">
	              <input type="email" class="form-control" id="inputEmail3" placeholder="输入用户名/电子邮件">
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
	            <div class="col-sm-9">
	              <input type="password" class="form-control" id="inputPassword3" placeholder="输入登录密码">
	            </div>
	          </div>
	          <div class="form-group">
	            <div class="col-sm-offset-2 col-sm-10">
	              <div class="checkbox">
	                <label>
	                  <input type="checkbox"> 记住密码
	                </label>
	              </div>
	            </div>
	          </div>
	          <div class="form-group">
	            <div class="col-sm-offset-2 col-sm-10">
	              <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-circle-arrow-right"></span> 登录 </button>
	            </div>
	          </div>
	        </form>
	      </div>
	    </div>
	</div>
</script>
<script type="text/template" id="tpl-nav-item">
	<span class="glyphicon <%=icon%>"></span> <%=name%>
</script>
<script type="text/template" id="tpl-nav-child-item">
	<a href="#"><%=name%></a>
</script>
<script type="text/template" id="tpl-view-general">
	<div class="main-header">
		<h4></h4>
		<div class="block-margin clearfix">
			<div class="pull-right hidden" style="width:25%;"></div>
			<div class="pull-right js-view-hidden"></div>
		</div>
	</div>
	<div class="main-body">
		<div class="panel panel-default">
			<div class="panel-heading">过滤器</div>
			<div class="panel-body"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body clearfix">
				<div class="pull-left"></div>
				<div class="pull-right"></div>
				<div class="pull-right"></div>
			</div>
			<div></div>
			<div class="panel-footer"></div>
		</div>
	</div>
</script>
<script type="text/template" id="tpl-view-aid">
	
</script>
<script type="text/template" id="tpl-view-simple">
	
</script>
<script type="text/template" id="tpl-view-preview">
	
</script>
<script type="text/template" id="tpl-view-modal">
	
</script>
<script type="text/template" id="tpl-form">
	<form></form>
</script>
<script type="text/template" id="tpl-breadcurm-item">
	<button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-th"></span></button>
</script>
<script type="text/template" id="tpl-action-group">
	<div class="btn-group pull-right js-view-hidden"></div>
</script>
<script type="text/template" id="tpl-action-item">
	<button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-th"></span></button>
</script>
<script type="text/template" id="tpl-content-table">
	<table class="table table-striped">
    	<thead class="header"></thead>
        <tbody class="body"></tbody>
    </table>
</script>
<script type="text/template" id="tpl-content-list">
	<div>
		<div class="header"></div>
		<div class="body"></div>
	</div>
</script>